@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*{
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

/* Nav style */

.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: FFF8F3;

}

nav {
	display: flex;
	justify-content: space-between;
	font-family: "Open Sans", sans-serif;
	align-items: center;
    margin: 0 200px;
    padding: 20px 0;
}

/* shared style */
.text-primary {
	color: #fd6e0a;
}

.dark-2 {
	color: #474747;
}

.btn-primary {
	border-radius: 5px;
	background: rgb(253, 110, 10);
    padding: 15px 40px;
    font-weight: 700;
    color: #fff;
    border: none;
    font-size: 20px;
}

.section-title{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    text-align: center;
}

.section-description{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    padding: 20px 0;
    text-align: center;
}

.nav-title {
	font-weight: 800;
	font-size: 45px;
	line-height: 45px;
}

nav ul {
	display: flex;
    align-items: center;
}
nav ul li {
	list-style: none;
	margin-right: 50px;
}

nav ul li a {
	text-decoration: none;
	font-size: 20px;
}

/* banner style */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}

.banner-content{
    max-width: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.banner .banner-content .subtitle{
    font-size: 45px;
    line-height: 50px;
    font-weight: 600;
    color: #474747;
}

.banner .banner-content .banner-title{
    font-size: 85px;
    font-weight: 700;
}

.banner .banner-content .description{
    font-size: 18px;
}

.banner-button-group{
    display: flex;
}

.banner-button-group .cv{
    margin-right: 10px;
}

.banner-button-group .cv:hover{
    cursor: pointer;
}

.banner-button-group .contact{
    border-radius: 5px;
	color: #fd6e0a;
    background-color: #fff;
    border: 1px solid #fd6e0a;
    padding: 14px 39px;
    font-weight: 700;
    font-size: 20px;
}

.banner-button-group .contact:hover{
    cursor: pointer;
}

.banner .banner-profile-picture{
    width: 580px;
}

/* main section styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* About section design starts here */
.about{
    border-radius: 10px;
    background-color: #FFF8F3;
    padding: 130px 150px;
    text-align: center;
    margin: 130px 0;
}

.about-info{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.about-info .info-title{
    font-size: 20px;
    font-weight: 400;
}

.about-info .info{
    font-size: 20px;
    font-weight: 700;
}

/* what I do section style */
.what-i-do{
    padding: 0 0 80px;
}

.skills{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px #00000009;
    border-radius: 10px;
}

.skill .skill-icon{
    padding-bottom: 15px;
}

.skill .skill-title{
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
}

.skill .skill-description{
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

/* resume section style */

.resume{
    padding-bottom: 40px;
}

.resume-container{
    display: flex;
    gap: 20px;
    padding: 40px 0;
}

.resume-container .resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container .experience{
    padding: 20px 0;
}

.resume-container .experience .experience-title{
    font-size: 25px;
    font-weight: 700;
    color: #474747;
    padding-bottom: 10px;
}

.resume-container .experience .experience-subtitle{
    font-size: 20px;
    color: #757575;
    font-weight: 600;
    padding-bottom: 8px;
}

.resume-container .experience .experience-description{
    font-size: 16px;
    color: #757575;
    font-weight: 400;
}

.resume hr{
    color: #474747;
}

.download-vc{
    display: flex;
    justify-content: center;
}
